argon2-cffi
astroid==2.4.2
async-generator==1.10
attrs
backcall==0.2.0
bleach
Brotli==1.0.9
certifi==2020.12.5
cffi
click==7.1.2
colorama==0.4.3
dash==1.18.1
dash-bootstrap-components==0.11.1
dash-core-components==1.14.1
dash-html-components==1.1.1
dash-renderer==1.8.3
dash-table==4.11.1
decorator==4.4.2
defusedxml==0.6.0
entrypoints==0.3
Flask==1.1.2
Flask-Compress==1.8.0
future==0.18.2
geojson==2.5.0
gunicorn==20.0.4
importlib-metadata
ipykernel
ipython
ipython-genutils
isort==4.3.21
itsdangerous==1.1.0
jedi==0.17.0
Jinja2==2.11.2
jsonschema
jupyter-client
jupyter-core
jupyterlab-pygments
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
mistune==0.8.4
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numpy
packaging
pandas
pandocfilters
parso
pickleshare
pip-chill==1.0.0
plotly
prometheus-client
prompt-toolkit
pycparser
Pygments
pylint==2.5.3
pyparsing==2.4.7
pyrsistent
python-dateutil==2.8.1
pytz
pyzmq==20.0.0
retrying==1.3.3
Send2Trash
six==1.15.0
terminado==0.9.1
testpath==0.4.4
toml==0.10.1
tornado
traitlets
wcwidth
webencodings==0.5.1
Werkzeug==1.0.1
wincertstore==0.2
wrapt==1.12.1
zipp